<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off" internalLogFile="D:\DEV_TEST\SERIAL PORT CONNECTION\NETSFUNCTION\Log\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>
	 

	<!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
	<targets>
		<target name="infoFile" xsi:type="File" fileName="D:\logs\Info.log" layout="${longdate}|${message}"/>
		<target name="errorFile" xsi:type="File" fileName="D:\logs\Error.log" layout="${longdate}|${message}"/>
		<target name="debugFile" xsi:type="File" fileName="D:\logs\Debug.log" layout="${longdate}|${message}"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Error" writeTo="errorFile" />
		<logger name="*" minlevel="Debug" writeTo="debugFile" />
		<logger name="*" minlevel="Info" writeTo="infoFile" />
	</rules> 
</nlog>
